.Logo {
  padding: 0 32px;
  display: flex;
  align-items: center;
  gap: 24px;
  user-select: none;
}

.Info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Name {
  margin: 0;
  font-size: 24px;
}

.Version {
  font-size: 13px;
  color: #ced4da;
}
