:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #f8f9fa;
}

button {
  font-family: inherit;
}

body {
  margin: 0;
  display: flex;
  max-height: 100vh;
}

#root {
  flex: 1;
}
